@import url('https://fonts.googleapis.com/css?family=Poppins|Lato&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
    --text-blue: #727fff;
    --text-blue-dark: #3E64FF;
    background: url('../assets/images/Ellipse.png') no-repeat bottom left /  200px;
}

/* navigation */
header {
    background-color: transparent;
}

.navbar-brand {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-left: 0;
}

.navbar-nav .nav-link {
    margin-left: 1.5rem;
    color: var(--text-blue);    
}

.navbar-nav .nav-link:hover {
    color: var(--text-blue-dark);
}

.navbar-nav .nav-link.active {
    color: var(--text-blue-dark);
}

.signin-btn{
    color: #727fff !important;
    border: 1px solid #727fff !important;
}
.signup-btn{
    color: #ffffff !important;
    background-color: #727fff !important;
}
/* nav end */
.text-blue {
    color: var(--text-blue);
}

.text-blue-dark { 
    color: var(--text-blue-dark);
}

.cover-image {
    object-fit: cover;
}

.notification {
    color: #554;
    background: #cccc;
    border-radius: 15px 0;
    padding: .7rem 1.3rem;
    display: inline-block;
    position: fixed;
    right: 0;
    bottom: 1rem;
    opacity: 0;
    z-index: 999;
    transition: all .3s ease-out;
}

.notification.swipe-left {
    opacity: 1;
    direction: ltr;
    transform: translateX(-10%);
}

.notification.is-info {
    color: #00529B;
    background-color: #BDE5F8;
}

.is-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.is-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.is-danger {
    color: #D8000C;
    background-color: #FFD2D2;
}
