@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico|Righteous|Roboto+Condensed|Ubuntu&display=swap');

body {
    padding: 0%;
    margin: 0%;
    font-family: 'Lato';
    height: 100vh;
}

header {
    background-color: #ffffff;
}
.navbar{
    padding: 0rem 1rem !important;
}
.navbar-brand {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #3E64FF !important;
    margin-left: 0;
}

img {
    height: 65px;
    width: 200px;
    margin-left: 3px;
}

.nav-link {
    font-size: 17px;
    margin: 15px;
    color: #727fff !important;
    font-family: 'Poppins';
}

.nav-link:hover {
    color: #3E64FF !important;
}

.active .nav-link {
    color: #3E64FF !important;
}

.menu-right-btn {
    /* padding: 13px 40px; */
    /* margin-right: 30%; */
    margin-left: 5px;
    background-color: transparent;
    transition-property: all 300ms ease-in;
}

.menu-right-btn:hover {
    color: white !important;
    background-color:#727fff ;
}
.signin-btn{
    color: #727fff !important;
    border: 1px solid #727fff !important;
}
.signup-btn{
    color: #ffffff !important;
    background-color: #727fff !important;
}
/* HEADER ENDS HERE */

/* MAIN BODY STARTS HERE */
.main-cont{
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 5%;
    padding: 1rem 2rem 0rem 2rem;
    height: 90vh;
    width: 100%;
    color: #3E64FF;
    background: url('/assets/images/Ellipse.png') left bottom no-repeat;
    /* align-content: center;
    margin-top: 20px; */
}
.left-cont,.right-cont{
    width: 100%;
    height: 90%;
}
.left-cont{
    align-self: center;
}
.right-cont img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
}
.padding{
    padding-bottom:7px;
}